---
import PageHeading from "../components/page-heading.astro";
import Layout from "./main.astro";
const { title, description } = Astro.props;
---

<Layout {title}>
  <section class="relative z-20 max-w-2xl mx-auto my-12 px-7 lg:px-0 flex flex-col gap-y-6">
    <PageHeading {title} {description} />
    <slot></slot>
  </section>
</Layout>